@model CybSoftServices.Models.ServerModel

@{
    ViewBag.Title = "CreateServer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>
<h1></h1>
<h1></h1>
<div class="card-body" id="bar-parent">
    <form action="CreateServer" method="Post" id="form_sample_1" class="form-horizontal" novalidate="novalidate">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-body">

            <div class="form-group row">
                <label class="control-label col-md-3">
                    Discription
                </label>

                <div class="col-md-12">
                    @*@Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "enter new item" } })*@
                    @Html.TextAreaFor(model => model.Discription, new { @class = "form-control", @placeholder = "enter new item" })

                    @Html.ValidationMessageFor(m => m.Discription, "", new { @class = "text-danger" })
                    @*@Html.TextBox("CustomarName", null, new { @class = "form-control", @placeholder = "Search With Customar Name" })*@
                    @*@Html.TextBoxFor(m => m.Listing.Location.AddressLine1, new { @placeholder = "Address Line 1 - Required" })*@
                </div>


            </div>

            <div class="form-group row">
                <label class="control-label col-md-3">
                    Services
                    @*<span class="required" aria-required="true"> * </span>*@
                </label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Services, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Services, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">
                    QTY
                    @*<span class="required" aria-required="true"> * </span>*@
                </label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.QTY, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.QTY, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">
                    Charge
                    @*<span class="required" aria-required="true"> * </span>*@
                </label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Charge, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Charge, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-md-3">
                    Total
                    @*<span class="required" aria-required="true"> * </span>*@
                </label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Total, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-md-3">
                    ExpiringDate
                    @*<span class="required" aria-required="true"> * </span>*@
                </label>
                <div class="col-md-12">
                    <input type="date" name="ExpiringDate" class="form-control" value="dd/MM/yyyy" />
                    @Html.ValidationMessageFor(m => m.ExpiringDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">
                    RAM
                    @*<span class="required" aria-required="true"> * </span>*@
                </label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.RAM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.RAM, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">
                    HardDisk
                    @*<span class="required" aria-required="true"> * </span>*@
                </label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.HardDisk, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.HardDisk, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">
                    HDD Used
                    @*<span class="required" aria-required="true"> * </span>*@
                </label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.HDD_Used, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.HDD_Used, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">
                    HDD Available
                    @*<span class="required" aria-required="true"> * </span>*@
                </label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.HDD_Available, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.HDD_Available, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">
                    Access Details
                    @*<span class="required" aria-required="true"> * </span>*@
                </label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Access_Details, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Access_Details, "", new { @class = "text-danger" })
                </div>
            </div>
           

            <div class="form-actions">
                <div class="row">
                    <div class="offset-md-3 col-md-6 pull-right">
                        <button type="submit" class="btn btn-info" id="submitData">Save</button>
                        @*<button type="button" class="btn btn-danger">Cancel</button>*@

                    </div>
                    <div class="col-md-1">
                        <a href="@Url.Action("Index","Service", new { area = ""})" class="btn btn-chatpane">Back To List(s)</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Script{
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script type="text/javascript">toastr.success("@(TempData["Message"] as string)");</script>
}
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

@*<script>
        $('#alertExpired').click(function () {

            if ($('#AlertExpired').is(':checked')) {

                var actionURL = '@Url.Action("CreateService", "Service")'; // Here I post my data to action method. if I select Yes in the confirm.
                $.ajax({
                    type: "POST",

                }
    //if I select No I will go to below.
            //var CourseName = $('#txtProgramName').val();
            //    var CourseNbr = $('#txtCourseNbr').val();
            //    var fipStartValue = $('#txtFipStartValue').val();
            //}

    </script>*@

