
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<CybSoftServices.Models.ServiceModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="btn-group">
   <h4></h4>
    <h4></h4>
        @*<a href="@Url.Action("CreateService", "Service")" class="btn btn-info "><i class="fa fa-plus"></i>@*Add New*@ @*</a>
</div>*@
<table class="table table-striped table-bordered table-hover col-form-label-sm">
    <thead>
        <tr>
            @*<th> Rest Id </th>*@
            <th> Server  Description </th>
            <th> Services </th>
            <th> Expiring Date </th>
            <th> Renewer Type</th>
            @*<th> CountDown </th>*@
            <th> Email </th>
            <th> CountDown days </th>   
            <th> Alert Expired </th>    
            <th> Access Details</th>    
             <th> Date Created </th>
             <th> Action </th>      
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr class="gradeX odd" role="row" id="row-@item.ServId">

                <td>@Html.DisplayFor(modelItem => item.ServerDescription)</td>
                <td>@Html.DisplayFor(modelItem => item.Services)</td>
                <td>@String.Format("{0:d}", item.ExpiringDate)</td>
                <td>@Html.DisplayFor(modelItem => item.RenewerType)</td>            
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.CountDown)</td>
                
                <td>@(item.AlertExpired.ToString() == "1" ? "Yes" : "NO")</td>   
                <td>@Html.DisplayFor(modelItem => item.Access_Details)</td>       
                <td>@String.Format("{0:d}", item.CreatedDate)</td>
          
                    <td>
                        <a href="/Service/EditService?id=@item.ServId" class="btn btn-primary btn-xs">
                            <i class="fa fa-pencil"></i>    
                        </a>
                        @*<a href="#" class="js-cancel-restaurant" data-restaurant-id="@item.RestId" data-name="@item.RestName">Cancel</a>*@
                        <a href="#" class="btn btn-danger btn-xs" id="deleteaction" data-id="@item.ServId" data-name="@item.ServerDescription">
                            <i class="fa fa-trash-o "></i> 
                        </a>
                    </td>
                
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Export to Excel", "Export", "Service", new { @class = "btn btn-primary" })
</p>
@*<li>@Html.ActionLink("Upload Services", "UploadServices", "Service")</li>*@

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@section Script{
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/toastr.js"></script>
     <script src="~/Scripts/angular.js"></script>
    <script>
    $(function () {

        $(document).on('click', '#deleteaction', function (e) {
            e.preventDefault();

            $("html").removeClass("loading")
         // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            var servName = $(this).attr("data-name");
            if (recordToDelete !== '') {
                var confirmValue = confirm("Are you sure you want to delete this service Name(s)? ");
                if (confirmValue) {

                    // Perform the ajax post DeleteFaculty(int id, string facultyName)
                    $.post("/Service/DeleteService", { "id": recordToDelete, "servName": servName },
                        function (data) {
                            // Successful requests get here
                            // Update the page elements
                            if (data.status == true) {
                                $("html").removeClass("loading")
                                $('#row-' + recordToDelete).fadeOut("slow", function () { $(this).remove(); });
                                toastr.success(data.message);
                            }
                            else {
                                $("html").removeClass("loading")
                                alert(data.error);
                            }
                        });
                }
                else {
                    $("html").removeClass("loading")
                    return;
                }
            }
        });

        });
    </script>

}




